#table
{
    position: relative;
    width: 125px;
    height: 125px;
    background-color: blue;
    border-radius: 150px;
    margin: 250px auto;
}

.seat
{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #CCCCCC;
    border-radius: 100px;
}

.seatbox
{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #CCCCCC;
}


label {
  display: block;
}

.no-padding {
    padding: 0;
    display: block;
}

.no-border {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sensorTitle {
  display: block;
}

span.sensorTitle::first-letter {
  text-transform: uppercase;
}

#gaugeValue {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #f3f3f3));
  background-image: -webkit-linear-gradient(#fafafa, #f3f3f3);
  background-image: -moz-linear-gradient(#fafafa, #f3f3f3);
  background-image: -o-linear-gradient(#fafafa, #f3f3f3);
  background-image: -ms-linear-gradient(#fafafa, #f3f3f3);
  background-image: linear-gradient(#fafafa, #f3f3f3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  -moz-box-shadow:    0 0 25px rgba(0, 0, 0, 0.2);
  box-shadow:         0 0 25px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
