#table
{
    position: relative;
    width: 125px;
    height: 125px;
    background-color: blue;
    border-radius: 150px;
    margin: 150px;
}

.seat
{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #CCCCCC;
    border-radius: 100px;
}


label {
  display: block;
}

.no-padding {
    padding: 0;
    display: block;
}

.no-border {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sensorTitle {
  display: block;
}

span.sensorTitle::first-letter {
  text-transform: uppercase;
}
